<div class="sample-header">
  <div class="sample-header-section">
    <h1 class="lato bold">Shelters Near You</h1>
  </div>
</div>

<div class="container">
  <div class="row align-middle">
    <% @shelters.each do |shelter| %>
      <div class="col-md-6 col-lg-4 column">
        <div class="card gr-3">
          <div class="txt">
            <h1 class="shelter-h1"><%= link_to shelter.name, shelter_path(shelter), class:"shelterh" %></h1>
            <p class="shelter-p"><%= shelter.address %></p>
            <p class="shelter-p"><%= shelter.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container justify-content-center align-middle">
  <div class="button justify-content-center align-middle">
    <% if policy(Shelter).create? %>
      <%= link_to 'Create Shelter', new_shelter_path, class: 'sec-btn shelter-center justify-content-center' %>
    <% end  %>
  </div>
</div>
