<h1>Shelter near your location</h1>

<% @shelters.each do |shelter| %>
<%= shelter.name %>
<br>
<%= shelter.address %>
<br>
<%= shelter.description %>
<br>
<% end %>


<%= link_to 'Create Shelter', new_shelter_path  %>
