<div class="container">
    <h1>Index</h1>

    <% @shelters.each do |shelter| %>
    <%= shelter.name %>
    <%= shelter.address %>
    <%= shelter.description %>
    <% end %>

    <%= link_to 'Create Shelter', new_shelter_path, class: 'prime-btn' %>
</div>

