<div class="format lato">
  <h1>Welcome to Your Dashboard</h1>


  <div class="tabs-position">
      <ul class="list-inline tabs-underlined">
    <% @incoming_requests.each do |request| %>

        <li>
          <a href="#" class="tab-underlined active">Requests for my Shelter</a>
          <%= request.message %>
          <%= request.status %>
     <% end %>
        </li>
        <li>
          <a href="#" class="tab-underlined">Outgoing Requests</a>
        </li>
      </ul>
  </div>

</div>
