<div class="format lato">
  <h1 class="dash-h lato bold">Your Dashboard</h1>
  <div class="div-tabs">
    <div class="warpper">
      <input class="radio" id="one" name="group" type="radio" checked>
      <input class="radio" id="two" name="group" type="radio">
      <input class="radio" id="three" name="group" type="radio">
      <div class="tabs">
        <label class="tab" id="one-tab" for="one">Requests for your Shelter</label>
        <label class="tab" id="two-tab" for="two">Outgoing Guardian Requests</label>
      </div>
      <div class="panels">
        <div class="panel" id="one-panel">
          <div class="panel-title">Your Requests</div>
          <p>HERE ERB</p>
        </div>
        <div class="panel" id="two-panel">
          <div class="panel-title">Become a Guardian</div>
          <p>HERE ERB!</p>
        </div>
      </div>
    </div>
  </div>

  <% @incoming_requests.each do |request| %>
    <br>
    <%= request.message %>
    <br>
    <%= request.status %>
    <br>
    <% end %>
