.flex-item {
  padding: 0px 16px;
  height: 120px;
  font-size: 14px;
}

.bio-text {
  text-align: right;
  width: 600px;
}


@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');
body{
  background:#white;
  font-family: 'Arimo', sans-serif;
}
h2{
  color:#26272b;
  font-size:2em;
}
.div-tabs{
  margin-bottom:20px;
}
.format{
  margin-top:40px;
}
.dash-h{
  margin-bottom:30px;

}
.wrapper-tabs{
  width: 100%;
  justify-content: center;
}
.tab{
  cursor: pointer;
  padding:10px 20px;
  margin:0px 2px 0px 0px;
  background:#26272b;
  display:inline-block;
  color:#fff;
  border-radius:3px 3px 0px 0px;
}
.panels{
  background:#fffffff6;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  min-height: 500px;
  width: 100%;
  border-radius:3px;
  overflow:hidden;
  padding:20px;
  y-overflow: scroll;

}
.panel{
  display:none;
  animation: fadein .8s;

}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.panel-title{
  font-size:1.5em;
  font-weight:bold;
  color: #26272b;
}
.radio{
  display:none;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel{
  display:block
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab{
  background:#fffffff6;
  color:#26272b;
  border-top: 3px solid #26272b;
}

.tabs{
    top: -43px;
    z-index: 0;
    margin-right: 56px;
    margin-top: 0px;
}

.flex-div-tabs{
  display: flex;
  float: right;
  margin: 35px 60px;
}

.format{
  h1{
    text-align: center;
    margin-top: 10px;
  }
}

// .position-tabs {
//   float: left;
// }

.title-placement{
  text-align: center;
  padding-top: 20px;
  margin-left: 15px;
}

.color-list-items{
  color:#26272b;
}
