.sample-header {
  width: 100%;
  background-image: url(https://i.insider.com/566f3b362340f8c3008b5885?width=1136&format=jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.sample-header-section {
  position: relative;
  padding: 15% 0 10%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  font-family: "Montserrat", sans-serif;
}
.sample-section-wrap {
  position: relative;
  background-color: white;
}
.sample-section {
  position: relative;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

.shelter-center{
  text-align: center;
  margin-top:20px;
}
.hero{
  .container{
    p{
      margin-top:20px;
      letter-spacing:0.6px;
      font-size:22px;
      opacity: 1;
      text-shadow: 2px;
    }
  }
}

.infocardContainer * {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 300;
  h2 {
  font-weight: 600; font-style: italic; font-family: "Fira Sans Condensed", sans-serif;
  font-size:20px;
  margin-top:30px;
  }
  h4{
  font-weight:300;
  font-size:15px;
  margin-top:20px;
  }
  header {
    height: 2em;
    background-color: #111122;
    margin: 0 0 0 0;
    padding: auto;
    font-size: 2em;
    text-align: center;
    line-height: 2em;
    color: black;
  }
  a {
    text-decoration: none;
  }
  a:visited {
    color: black;
  }
  a:hover {
    text-decoration: underline;
  }
}
.infocardContainer {
  display: flex;
  height: 180px;
  width: 180px;
  border-radius: 100px;
  background: rgb(0,159,255);
  background:linear-gradient(135deg, #184e68 0%,#57ca85 100%);
  transition: all 200ms ease-in;
  transition-delay: 100ms;
  margin: auto;
  margin-top: 50px;
  --margin-top: 100px;
}
.infocardContainer:hover {
  width: 400px;
  border-radius: 100px 10px 100px 100px;
  transition: all 200ms ease-out;
}

.infocardContainer div {
  color:black;
  text-color: black;
  flex-shrink: 1;
  width: 100%;
}
.infocardContainer div * {
  display: flex;
  --flex: inherit;
  overflow: hidden;
  text-overflow: hidden;
  color: white;
  white-space: nowrap;
  width: 0;
  height: auto;
  transition: all 200ms ease-in;
  transition-delay: 100ms;
}
.infocardContainer:hover div *{
  display: flex;
  visibility: visible;
  transition: all 200ms ease-out;
  transition-delay: 100ms;
  width: 100%;
  height: auto;
}

.infocardContainer #main, .infocardContainer #main img{
  height: 200px;
  width: 200px;
  padding-right: 10px;
  border-radius: 100%;
  flex-shrink: 0;
  object-fit: cover;
}
.infocardContainer #main img{
  height: 180px;
  width: 180px;
  transition: none;
  display: float;
  position: relative;
  border: 10px solid white;
  margin: 0 0 0 0; padding: 0 0 0 0;
}
.infocardContainer #textbois {
  position: relative;
}
.infocardContainer #textbois #hotlinks {
  position:absolute;
  bottom: 5px;
  display: flex;
  justify-content: space-between;
  border-radius: 13px;
}
.infocardContainer #textbois #hotlinks * {
  color:white;
  --margin: 0 1px 0 1px;
  border-radius: 25px;
  width: 140px;
  font-size: 10px;
}
/*TODO: animate copy main transition style for info*/
.infocardContainer #textbois #hotlinks *:hover {
color:black;

}

.line-height-header{
  line-height:80px !important;
}

.line-height-h2{
  line-height: 70px;
}

.line-height-text{
  font-size: smaller;
  line-height: 35px !important;
}

.animal-card {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3);
  transition: 0.3s;
  margin-bottom: 20px;
  height: 400px;

  #card-image {
    height: 200px;
    width: 100%;
    background-position: cover;
    ;
  }
}
