    <footer class="site-footer">
      <div class="container">
        <div class="row" style="padding-bottom:10px; ">
          <div class="col-sm-12 col-xs-6 col-md-4">
            <h6>About</h6>
            <p class="text-justify footer-p">Something about us. We are Travel paws and text text text yes yes yes.</p>
          </div>

          <div class="col-sm-12 col-xs-6 col-md-4">
            <h6>TravelPaws</h6>
            <%= render "shared/sausage-dog-animation"%>
          </div>

          <div class="col-sm-12 col-xs-6 col-md-4">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="/">Home</a></li>
              <li><a href="/shelters">Shelters</a></li>
              <li><a href="/shelters/new">Create a shelter</a></li>
              <li><a href="/dashboard">Dashboard</a></li>
              <li><a href="/">Profile</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by TravelPaws
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fab fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
</footer>
