<section>
  <div class="wrapper">
    <h1 class="gamma lato thin uppercase ls-xlarge"><span class="open-sans tera ls-xlarge bold">Travelmate</span><br>connect with shelters<br>
     <span class="epsilon ls-medium">and help animals travel home</span>
    </h1>
   </div>
</section>
