.banner {
    background-size: cover;
    background-position: 25% 25%;
    padding: 30px 0px;
    width: 980px;
    // height: 100%;
    // flex-grow: 1;
}

.banner h1 {
    margin: 0;
    color: white;
    text-align: right;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-top: 24px;
}

.banner h2 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 50px;
    font-weight: bold;
    text-align: right;
}

.banner h3 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 25px;
    font-weight: bold;
}

.banner p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
