.card {
    border-radius: 4px;
    overflow: hidden;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 20px;
    margin: 20px;
    
}

#card-image {
    border-radius: 4px;
}

a.card-link {
    text-decoration: none;
    color: white;
}