.prime-btn {
    border: 1px solid #ffffff;
    font-size: 15px;
    letter-spacing: 2px;
    background-color: #26272b;
    color: white;
    padding: 12px 24px;
    border-radius: 50px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    margin-bottom:20px;
    margin-top:20px;
    font-family: lato;

    &:hover {

        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
        color: #fff;
        transform: translateY(-2px);
        border: 1px solid #26272b;
        text-decoration: none;
        background-color:rgb(255, 255, 255);
        color: #26272b;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s;
    }


}
