.prime-btn {
    border: 1px solid #ffffff;
    font-size: 15px;
    letter-spacing: 2px;
    background-color: black;
    color: white;
    padding: 12px 24px;
    border-radius: 50px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    
    &:hover {
        
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
        color: #fff;
        transform: translateY(-5px);
        border: 1px solid #000000;
        text-decoration: none;
        background-color:rgb(255, 255, 255);
        color: black;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }


}