.search-form{
  display: flex;
  justify-content: center;

  .form-control{
    height: 48px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    transition: all 0.4s;
    text-align:center;
    width: 550px;

  }
  .prime-btn-landing{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 1px solid #ffffff;
    font-size: 15px;
    letter-spacing: 2px;
    background-color: #26272b;
    color: white;
    padding: 12px 24px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;

     &:hover {

        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
        color: #fff;

        border: 0.3px solid #26272b;
        text-decoration: none;
        background-color:rgb(255, 255, 255);
        color: #26272b;
    }


  }

}

.algolia-places-shelters {
    width: 49%;

  }

// .search-bar {
//   padding-top: 0px;
//   height: 150px;
//   width: 650px;
//   height: auto;
//   margin: 0 auto;
//   position: relative;
// }

// .search-center {
//   margin-left: auto;
//   margin-right: auto;
//   width: 1424px;
//   height: 150px;
// }
