.sec-btn {
    text-decoration: none;
    background: rgb(255, 255, 255);
    color: #000000;
    border: 1px solid #000000;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 12px 24px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    &:hover {
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
        color: #fff;
        transform: translateY(-5px);
        text-decoration: none;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
        
    }
}