.sec-btn {
    text-decoration: none;
    background: rgb(255, 255, 255);
    border-radius: 3px;
    color: #26272b;
    border: 1px solid #26272b;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 12px 24px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    margin-bottom:20px;
    margin-top:20px;
    font-family: lato;

    &-file {
        padding: 5px 2px;
        font-size: 12px;
    }

    &:hover {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
        color: #fff;
        transform: translateY(-5px);
        text-decoration: none;
        background-color: #26272b;
        color: rgb(255, 255, 255);
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s;

  
    }

}


