#img-main{
  img{
    border-radius: 4px;
  }
}

.banner-and-animals {
  width: calc(100vw - 450px);
}
.shelter-show {
  height: 100%;
  display: flex;
}

.shelter-show-hero {
  width: 900px;
  margin: 0 auto;
}

.gray-info-box {
  width: 450px;
  background-color: #26272b;
  height: 100vh;
  padding: 24px 24px 24px 24px;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: sticky;
  top: 0px;
  .shelter-address {
    font-size: 12px;
    font: $body-font;
  }
}

.banner .card-animal-user {
  position: absolute;
  right: 70px;
  bottom: -67px;
}

.gray-info-box .card-animal-user {
  margin-bottom: 24px;
}

.detail-link {
  display: flex;
  padding: 16px;
  justify-content: center;
  .prime-btn {
    margin: 0px;
    padding: 8px 16px;
    font-size: 12px;
  }
}

.animal-cards {
  padding: 36px;
}
.card-animal {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
  font-family: $body-font;
  margin: 0px 24px 24px 0px;
  min-height: 400px;
  
  .btn-down {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.card-animal > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-animal h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-animal p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  margin-bottom: 12px;
}


.card-animal .card-animal-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.min-height-60 {
  min-height: 60px;
}

.card-animal-dropoff {
  font-size: 10px;
  color: #a5a5a5;
  i {
    padding-right: 6px;
    padding-left: 6px;
  }
}


.card-product {

  // margin-top: 50px;
  overflow: hidden;
  height: 600px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  border-radius: 4px;
}

#card-img {
  height: 100%;

  object-fit: cover;
}

.card-product {
  h1 {
    margin: 0;
    padding-bottom: 20px;
  }
  p {
    font-size: 16px;
  }
}

.card-product p {
  font-size: 18px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 4px;
}

.card-product {
  .card-product-infos {
    padding: 20px;
    display: grid;
    justify-content: center;
    align-items: center;

  }
  .card-product-description {
    margin-top: 10px;
  }
}
 .buttons{
 margin-top:20px;
 }

.shelter-form {
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  background-color: white;
  border-radius: 4px;

  h5{
    margin-bottom: 35px;
    margin-top: 35px;
  }
}

.form-control#request_message {
  border-radius: 10px;
  border: none;
  resize: none;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.button-fix {
  display: grid;

  .sec-btn {
    width: 158px;
  }

  .center-btn {
    width: 258px;
  }
}


